 
*{  
    padding: 0;   
    box-sizing: border-box;
    margin: 0;
}
.layout{
    max-height: 100vh;
    max-width: 100%;
    background-color: rgb(185, 229, 214);
}

#logo{
   font-size: 30px;
   color: rgb(220, 100, 20);
    margin:5px ;
}

/* Clara: This is the top part of our website - just to be uniqute and more charactic  can comes up with a logo of something that is optional */ 
p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    /* background-color: #f0f0f0; */
}

/* Clara: I have made the canvas width to 100% so it fits the whole screen - bit more similar to what we aiming for */
.canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height:80vh;
    width: 100%;
    box-shadow: 10px;
    border: 2px solid;
}

/* Clara: This is the toolbox section css - */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

}

.btns-container {
    padding-left: 10px;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

label {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;

}

.colors{
    height:30px;
    width: 30px;
    border-radius: 3px;
    margin: 13px;
    cursor: pointer;
}

/* hover effects on all colors and buttons, laxman */
.colors:hover{
    border: 6px solid rgb(116, 112, 112);
}

.btn:hover,.clear-canvas:hover:hover,.save-img:hover{
    cursor: pointer;
    border-bottom: 5px solid black;
}

/* selected color gets highlighterd, laxman */
.selected{
    border: 5px solid rgb(136, 131, 131);
}

.btn{
    height: 50px;
    width: 50px;
    margin: 1px;
}

.active {
    border: 1px solid black;
}


#fill-color {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    margin: 10px;
}

#fill-color:checked~ label {
    color: grey;
} 

/* Pen width slider */
#size-slider {
    margin: 10px;
}
#size-slider:hover{
    cursor: pointer;
}


button {
    width: 150px;
    color: #333;
    padding: 10px 0;
    font-size: 13px;
    margin-bottom: 13px;
    background: none;
    border: 1px solid  #333;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.clear-canvas {
    background-color: #333;
    color: #fff;
}

/* Clear Canvas btn and Save Img btn CSS */
.row-buttons {
    display: flex;
    justify-content: center;
}

#color-picker {
    height:30px;
    width: 30px;
    border-radius: 3px;
    opacity: 0;
    cursor: pointer;
}

.option:is(:hover, .active) :where(span, label) {
    color: #4A98f7;
  }
  