 
*{  
    padding: 0;   
    box-sizing: border-box;
    margin: 0;
}
.layout{
    max-height: 100vh;
    max-width: 100%;
}

/* Clara: This is the top part of our website - just to be uniqute and more charactic  can comes up with a logo of something that is optional */ 
p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #f0f0f0;
}

/* Clara: I have made the canvas width to 100% so it fits the whole screen - bit more similar to what we aiming for */
.canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    height:80vh;
    width: 100%;
    box-shadow: 10px;
}

/* Clara: This is the toolbox section css - */
.container{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.colors{
    height:30px;
    width: 30px;
    border-radius: 3px;
    margin: 10px;
}

.btn{
    height: 60px;
    width: 50px;
    margin: 1px;
}

.colors:hover{
    cursor: pointer;
    border: 5px solid gray;
}

/* Laxman : added pointer and underlines to the container elements when hovered */
.btn:hover{
    cursor: pointer;
    border-bottom: 5px solid rgb(89, 88, 88);
}